:root {
  /* colors */
  --clr-valid: rgb(11, 185, 11);
  --clr-invalid: red;
  --clr-white: white;
  --clr-dark: black;
  --clr-background: rgba(230, 230, 250, 0.9);
  --clr-background-light: rgba(230, 230, 250, 0.55);
  --clr-border-color: rgb(105, 105, 105);
  --clr-hint-btn: rgb(122, 122, 199);
  --clr-hint-btn-click: rgb(186, 186, 235);
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

body {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
  color: var(--clr-dark);
}

/*   Page Login Form   */

.page-login__form {
  padding: 30px 20px;
  border-radius: 12px;
  border: 3px solid var(--clr-border-color);
  background-color: var(--clr-background);
}

.login-label {
  font-size: 20px;
  margin-left: 5px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

input {
  outline: none;
}

.login-input {
  margin: 3px 0;
}

input {
  border: 3px solid var(--clr-dark);
  font-size: 18px;
}

.input-valid {
  border-color: var(--clr-valid);
}

.input-invalid {
  border-color: var(--clr-invalid);
}

.login-span {
  display: block;
  line-height: 110%;
  letter-spacing: 0.03em;
  margin: 5px 0 20px 5px;
  color: transparent;
}

.input-error {
  color: var(--clr-invalid);
}

.login-btn {
  width: 120px;
  padding: 12px 30px;
  margin: 0 auto;
  border: 2px solid var(--clr-dark);
}

.login-btn:hover {
  border: 2px solid var(--clr-border-color);
}

button:disabled {
  border-color: var(--clr-border-color);
  cursor: default;
}
button:disabled:hover {
  border-color: var(--clr-border-color);
}

.login-btn:not(:disabled) {
  background-color: var(--clr-valid);
  color: var(--clr-white);
}

/*   Start window   */

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 4px 20px;
  background-color: var(--clr-background);
}

.header {
  border-bottom: 2px solid var(--clr-border-color);
}

.footer {
  border-top: 2px solid var(--clr-border-color);
}

.logo {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.logout-btn {
  width: 100px;
  font-size: 14px;
  padding: 8px 12px;
  color: var(--clr-white);
  background-color: var(--clr-invalid);
  border: 2px solid var(--clr-border-color);
}

.logout-btn:hover {
  border-color: var(--clr-dark);
}

.main {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: var(--clr-background-light);
}

.greetin-text {
  line-height: 130%;
  letter-spacing: 0.08em;
  text-align: center;
  margin: 30px 0 35px;
}

.rules-text {
  width: 100%;
  max-width: 600px;
  line-height: 135%;
  letter-spacing: 0.03em;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.start-btn {
  width: 120px;
  padding: 12px 30px;
  margin: 170px auto 0;
  border: 2px solid var(--clr-border-color);
  background-color: var(--clr-valid);
  color: var(--clr-white);
}

.start-btn:hover {
  border-color: var(--clr-dark);
}

.footer-link {
  font-weight: 600;
  text-decoration: none;
  color: var(--clr-dark);
}

/*  Game page   */

.wrapper {
  background: url('./assets/img/page_login.jpg') center center / cover;
}

.hints-container {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: 40px;
}

.select-levels {
  font-size: 14px;
  height: 30px;
  border-radius: 6px;
  background-color: var(--clr-hint-btn);
  cursor: pointer;
}

option.finish {
  background-color: var(--clr-valid);
}

.hint-btn {
  width: 35px;
  height: 35px;
  border: none;
}

#sound-btn {
  margin: 0 auto;
  background: url(./assets/icon/sound.svg) center no-repeat;
}

#sound-btn.hidden {
  display: none;
}

#translate-btn {
  background: url(./assets/icon/translate.svg) center no-repeat;
  background-color: var(--clr-hint-btn);
}

#translate-btn.cliked,
#audio-btn.cliked,
#image-btn.cliked {
  background-color: var(--clr-hint-btn-click);
}

#translate-btn.add-position {
  margin-left: auto;
}

#audio-btn {
  background: url(./assets/icon/microphone.svg) center no-repeat;
  background-color: var(--clr-hint-btn);
}

#image-btn {
  background: url(./assets/icon/picture.svg) center no-repeat;
  background-size: contain;
  background-color: var(--clr-hint-btn);
}

.text-hint {
  text-align: center;
  margin: 10px 0;
}

.text-hint.hidden {
  color: transparent;
}

.game-board {
  max-width: 702px;
  height: 402px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-background-light);
  border: 1px solid var(--clr-border-color);
}

.game-board__row {
  display: flex;
  height: 40px;
}

.game-board__row-word {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: var(--clr-white);
  text-shadow: 3px 1px 3px var(--clr-dark);
  border: 1px solid var(--clr-background);
  cursor: pointer;
}

.game-board__row-word.valid {
  border: 1px solid var(--clr-valid);
}

.game-board__row-word.invalid {
  border: 1px solid var(--clr-invalid);
}

.game-words {
  display: flex;
  max-width: 702px;
  height: 42px;
  margin: 20px auto;
  background-color: var(--clr-background-light);
  border: 1px solid var(--clr-border-color);
}

.btns-solution__container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.solution-btn,
.check-solution__btn {
  min-width: 100px;
  padding: 8px 12px;
  color: var(--clr-white);
  border: 2px solid var(--clr-border-color);
}

.solution-btn:not(:disabled) {
  background-color: var(--clr-valid);
}

.solution-btn:hover {
  border-color: var(--clr-dark);
}
.check-solution__btn:hover {
  border-color: var(--clr-dark);
}
.check-solution__btn:not(:disabled) {
  background-color: var(--clr-valid);
}

.image-hint-active {
  background: var(--clr-hint-btn-click) !important;
}

#sound-btn.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  from {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1);
  }
  to {
    transform: scale(0.85);
  }
}

/* Page results */

.page-result {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 100;
  background-color: var(--clr-hint-btn-click);
}

.result-container {
  max-width: 700px;
  padding: 20px;
  background-color: var(--clr-background);
  border: 2px solid var(--clr-border-color);
  border-radius: 6px;
}

.result-img {
  width: 250px;
  margin: 0 auto;
}

.result-img__description {
  text-align: center;
}

.result-know,
.result-dontknow {
  font-weight: 600;
}

.result-item {
  display: flex;
  gap: 15px;
}

.result-item__btn {
  width: 30px;
  height: 30px;
  border: none;
  background: url(./assets/icon/sound.svg) center no-repeat;
}

.result-item__text {
  display: flex;
  align-items: center;
}
