:root {
  /* colors */
  --clr-valid: rgb(11, 185, 11);
  --clr-invalid: red;
  --clr-white: white;
  --clr-dark: black;
  --clr-background: rgba(230, 230, 250, 0.9);
  --clr-background-light: rgba(230, 230, 250, 0.55);
  --clr-border-color: rgb(105, 105, 105);
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

body {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 400;
  color: var(--clr-dark);
}

/*   Page Login Form   */

.page-login__form {
  padding: 30px 20px;
  border-radius: 12px;
  border: 3px solid var(--clr-border-color);
  background-color: var(--clr-background);
}

.login-label {
  font-size: 20px;
  margin-left: 5px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

.login-input {
  margin: 3px 0;
}

input {
  border: 3px solid var(--clr-dark);
  font-size: 18px;
}

.input-valid {
  border-color: var(--clr-valid);
}

.input-invalid {
  border-color: var(--clr-invalid);
}

.login-span {
  display: block;
  line-height: 110%;
  letter-spacing: 0.03em;
  margin: 5px 0 20px 5px;
  color: transparent;
}

.input-error {
  color: var(--clr-invalid);
}

.login-btn {
  margin: 0 auto;
  border: 2px solid var(--clr-dark);
}

.login-btn:hover {
  border: 2px solid var(--clr-border-color);
}

button:disabled {
  cursor: default;
}
button:disabled:hover {
  border-color: var(--clr-dark);
}

.login-btn:not(:disabled) {
  background-color: var(--clr-valid);
  color: var(--clr-white);
}

/*   Start window   */

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 12px 20px;
  background-color: var(--clr-background);
}

.header {
  border-bottom: 2px solid var(--clr-border-color);
}

.footer {
  border-top: 2px solid var(--clr-border-color);
}

.logo {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.logout-btn {
  font-size: 14px;
  padding: 8px 12px;
  color: var(--clr-white);
  background-color: var(--clr-invalid);
  border: 2px solid var(--clr-border-color);
}

.logout-btn:hover {
  border-color: var(--clr-dark);
}

.main {
  width: 100%;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 2px;
  background-color: var(--clr-background-light);
}

.greetin-text {
  line-height: 130%;
  letter-spacing: 0.08em;
  text-align: center;
  margin: 30px 0 35px;
}

.rules-text {
  width: 100%;
  max-width: 600px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.start-btn {
  margin: 170px auto 0;
  background-color: var(--clr-valid);
  color: var(--clr-white);
}

.footer-link {
  font-weight: 600;
  text-decoration: none;
  color: var(--clr-dark);
}

/*  Game page   */

.wrapper {
  background: url('./assets/img/page_login.jpg') center center / cover;
}

.hints-container {
  min-height: 40px;
  background-color: blue;
}

.select-levels {
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}
